<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

</head>
<body>
<header th:fragment="cabecalho">
		<nav class="navbar navbar-inverse navbar fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button style="" type="button" class="btn btn-light  navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a style="color: white;"  class="navbar-brand " href="#">Java Spring Boot Framework</a>
				</div>
			</div>
		</nav>
	</header>
</body>
</html>